body{
    background-color:#eaeaea;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:300px;
    margin:100px auto;
    padding:20px;
    background:white;
    border:1px solid #ccc;
    border-radius:6px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:10px;
    font-weight:bold;
}

input{
    width:100%;
    padding:6px;
    margin-top:5px;
    box-sizing:border-box;
}